@font-face {
	font-family: 'Pigeonette Regular';
	font-style: normal;
	font-weight: 400;
	src:
		local('Pigeonettev01-Regular'),
		local('Pigeonette v01 Regular'),
		url('/fonts/Pigeonette_v01.woff') format('woff'),
		url('/fonts/Pigeonette_v01.woff2') format('woff2');
}

@font-face {
	font-family: 'Pigeonette Bold';
	font-style: bold;
	font-weight: 800;
	src:
		local('Pigeonettev01-Bold'),
		local('Pigeonette v01 Bold'),
		url('/fonts/PigeonetteBold_v01.woff') format('woff'),
		url('/fonts/PigeonetteBold_v01.woff2') format('woff2');
